
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body>
    <h1>bak</h1>
    <div>
        <table border=1px>
            <tr>
                <td>HOST_NAME</td>
                <td>FILE_EXIST</td>
                <td>MD5_CHK</td>
                <td>MD5</td>
                <td>DATE</td>
            </tr>
            @Html.Raw(ViewData["data"])
        </table>
    </div>
</body>
</html>
